<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Air Quality Email Alert System</title>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&family=Raleway:wght@100;300;900&display=swap" rel="stylesheet">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- Javascript link -->
    <script src="../app.js"></script>

    <!-- Google Places API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8xNamgGORowWHSYW254nTLjhem4CJrQY&libraries=places&callback=initAutocomplete" async defer></script>

    <!-- Google Places Autocomplete script -->
    <script type="text/javascript">
    let autocomplete;
    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById("autocomplete"),
            {
                types: ["administrative_area_level_3", "locality"],
                componentRestrictions: {},
                fields: ["name", "geometry"],
            }
        );
      autocomplete.addListener("place_changed", onPlaceChanged);
    }
    function onPlaceChanged(){
      let place = autocomplete.getPlace();
      if (!place.geometry) {
        //user did not select a prediction; reset the input field
        document.getElementById("autocomplete").placeholder = "Enter a city";
      } else {
        //Display details about the valid place
        document.getElementById("details").innerHTML = place.name;
        console.log("place.name");
      }
    }
    </script>

  </head>
  
  <body>
    <nav class="menu">
      <menu>
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.epa.gov/environmental-topics/air-topics" target="_blank">EPA info</a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.iqair.com/us/usa/colorado/denver" target="_blank">IQAir</a></li>
        <li class="nav-item"><a class="nav-link" href="https://en.wikipedia.org/wiki/Air_quality_index#United_States" target="_blank">Wikipedia on AQI</a></li>
        <li class="nav-item"><a class="nav-link" href="https://apcd.state.co.us/advisory.aspx" target="blank">Colorado Dep. of Public Health</a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.colorado.gov/governor/contact-us" target="_blank">Governor's Office</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
      </menu>
    </nav>
